[Unit]
Description=TeslaUSB archive loop
After=network.target

[Service]
Environment=ARCHIVE_SERVER=ARCHIVESERVER
ExecStart=/root/bin/archiveloop $ARCHIVE_SERVER
Type=simple
TimeoutStopSec=infinity

[Install]
WantedBy=default.target