[Unit]
Description=TeslaUSB archive clips
After=network.target

[Service]
Type=oneshot
TimeoutStopSec=infinity
ExecStart=INSTALLPATH/archive_clips_service

[Install]
WantedBy=default.target